body {
    margin: 0;
    background: #68cdd5;
}

.return {
    margin: 2%;
}

.bigLogo {
    margin: 0 auto;
    display: block;
}

.content {
    margin: 10% 10%;
    font-size: 1em;
    color: white;
}

.smallLogo {
    margin: 15% 0;
    text-align: center;
}

.leftLogo {
    float: left;
}

.rightLogo {
    float: right;
}

@media screen and (max-width: 700px){
    .return {
        width: 30px;
    }

    .bigLogo {
        width: 130px;
    }

    .smallLogo img {
        width: 40px;
    }
}
